
Plugins>Segmentation, "CLIJx Weka Object Classification (CLIJx, experimental)", net.haesleinhuepf.clijx.weka.gui.CLIJxWekaObjectClassification
Plugins>Segmentation, "CLIJx Weka Label Classification (CLIJx, experimental)", net.haesleinhuepf.clijx.plugins.CLIJxWekaLabelClassification
Plugins>ImageJ on GPU (CLIJx)>Weka,          "Generate feature stack on GPU (experimental)",           net.haesleinhuepf.clijx.weka.GenerateFeatureStack
Plugins>ImageJ on GPU (CLIJx)>Weka,          "Train weka model from feature stack and ground truth on GPU (experimental)",           net.haesleinhuepf.clijx.weka.TrainWekaModel
Plugins>ImageJ on GPU (CLIJx)>Weka,          "Apply weka model to feature stack on GPU (experimental)",           net.haesleinhuepf.clijx.weka.ApplyWekaModel
Plugins>ImageJ on GPU (CLIJx)>Weka,          "-", null
Plugins>ImageJ on GPU (CLIJx)>Weka,          "Train weka model from data in a table on GPU (experimental)",           net.haesleinhuepf.clijx.weka.TrainWekaFromTable
Plugins>ImageJ on GPU (CLIJx)>Weka,          "Apply weka model to data in a table on GPU (experimental)",           net.haesleinhuepf.clijx.weka.ApplyWekaToTable
